<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Mail.ru suite" parallel="tests" thread-count="2" >
	
	<parameter name="url" value="http://www.mail.ru/"/>
	<parameter name="intValue" value="10"/>
	<parameter name="doubleValue" value="4.12321"/>
	<parameter name="uncorrectVal" value="12,s"/>
  
	  <test name="Chrome test" >
	  	<parameter name="browser" value="chrome"/>
	    <classes>
	       <class name="test.java.TestConvertor"/>
	    </classes>
	  </test>
	 
	  <test name="Firefox test">
	  	<parameter name="browser" value="firefox"/>
	    <classes>
	      <class name="test.java.TestConvertor"/>
	    </classes>
	  </test>
  
</suite>
